* {
  user-select: none;
}

body {
  background-image: url("image/abstract.jpg");
  background-size: contain;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: black;
}

.loader-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.loader-contents {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.loader-contents>span:nth-child(2) {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  border-right: .5rem solid orangered;
  animation: tpear 1.8s steps(35, end),
    tpear 2s steps(35, end) 1.8s reverse,
    blink 1s step-end infinite;
}

.loader {
  width: 120px;
  height: 20px;
  mask: radial-gradient(circle closest-side, #ca1616 94%, #f1272700) left/20% 100%;
  -webkit-mask: radial-gradient(circle closest-side, #ca1616 94%, #f1272700) left/20% 100%;
  background: linear-gradient(#fff 0 0) left/0% 100% no-repeat #000;
  animation: ball 2s infinite steps(6);
}

@keyframes ball {
  100% {
    background-size: 120% 100%
  }
}

@keyframes tpear {
  from {
    width: 100%
  }

  to {
    width: 0%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  30% {
    border-color: rgb(255, 255, 255);
  }
}

.todo-header {
  padding: 1rem;
}

.todo-header>.headings {
  display: inline-block;
  flex-direction: column;
  width: max-content;
}

.todo-header>.headings>h1,
h2 {
  margin: 0;
  text-transform: capitalize;
}

.todo-header>.date {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: .5rem;
  float: right;
}

.todo-header>.date>.Date-parts-number {
  font-size: 2rem;
  font-weight: bold;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.todo-header>.date>.Date-parts-month {
  font-weight: bold;
  justify-self: end;
  align-self: center;
  text-transform: uppercase;
}

.todo-header>.date>.Date-parts-year {
  font-weight: bold;
  justify-self: end;
  align-self: center;
}

.todo-nav {
  margin: 0 1rem;
  padding: .1rem;
  border-radius: 2rem 2rem 0 0;
}

.todo-nav>.section-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.todo-nav>.section-switch>li {
  padding: .5rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-transform: capitalize;
}

.todo-main {
  margin: 0 1rem;
  position: relative;
}

.todo-main>.taskSection {
  display: none;
}

.todo-main>.focusSection {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.todo-main>.focusSection>.navbuttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
}

.todo-main>.focusSection>.navbuttons>span:nth-child(2) {
  display: none;
}

.todo-main>.focusSection>.navbuttons>span>img {
  width: 1.2rem;
  aspect-ratio: 1;
}

.full {
  position: fixed;
  top: 1rem;
  height: calc(100vh - 25vh);
  width: calc(100% - 2rem);
  color: rgb(235, 235, 235);
  background-color: rgb(20, 20, 20);
}

.todo-main>.focusSection>h2 {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.todo-main>.focusSection>.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.todo-main>.focusSection>.focus>.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: display;
  font-size: 8rem;
  padding: 1rem;
}

.todo-main>.focusSection>.focus>.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem
}

.todo-main>.focusSection>.focus>.buttons>button {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: blanchedalmond;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1rem rgb(255, 108, 152));
  }
}

.todo-main>.focusSection>.focus>.buttons>button:nth-child(2) {
  display: none;
}

.todo-main>.focusSection>.focus>.buttons>button>img {
  width: 2rem;
  aspect-ratio: 1;
}

.todo-main>.completedSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-main>.completedSection>h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1.5rem;
}

.todo-main>.completedSection>table {
  width: 60%;
  background-color: aqua;
}

.todo-main>.completedSection>table>tr>td>img {
  aspect-ratio: 1;
  width: 1rem;
}

.todo-main>.profileSection {
  display: none;
}